.proModal-ready
{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background: rgba(48, 40, 80, 0.88);
	margin: 0px;
	padding: 0px;
	display: none;
	z-index: 300;
}
.proModal-content
{
	width: 500px;
	border-radius: 5px;
	background: white;
	box-shadow: 0px 0px 2px gray;
	position: relative;
	top: 30px; 
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    overflow: hidden;
    display: none;
}
.proModal-header-class
{
	height: 8px;
	width: 100%;
	margin-top: -2px;
}
.default
{
	background: white;
	color: lightgray;
}
.blue
{
	background: #337ab7 !important;
	color: white;
}
.green
{
	background: #398439 !important;
	color: white;
}
.sky-blue
{
	background: #269abc !important;
	color: white;
}
.orange
{
	background: #d58512 !important;
	color: white;
}
.red
{
	background: #ac2925 !important;
	color: white;
}
.purple
{
	background: #5c23b7 !important;
	color: white;
}
.proModal-header
{
	width: 97%;
	padding: 8px;
	margin-bottom: 26px; 
}
.proModal-title
{
	float: left;
	font-size: 20px;
	font-family: Arial;
	color: #757575;
}
.proModal-close, .proModal-zoom
{
	float: right;
	padding: 0px 6px;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
	transition: all .5s;
	margin: 0px 2px;
}
.proModal-close:hover, .proModal-zoom:hover
{
	-ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
}
.proModal-close-default, .proModal-zoom-default
{
	border: 1px solid lightgray;
	color: black;
}
.proModal-close-default:hover, .proModal-zoom-default:hover
{
	background: rgba(211, 211, 211, 0.77) !important;
	color: white !important;
}
.proModal-close-blue, .proModal-zoom-blue
{
	color: #337ab7 !important;
	border: 1px solid #337ab7 !important;
}
.proModal-close-blue:hover, .proModal-zoom-blue:hover
{
	color: white !important;
	background: #337ab7 !important;
}
.proModal-close-green, .proModal-zoom-green
{
	color: #398439 !important;
	border: 1px solid #398439 !important;
}
.proModal-close-green:hover, .proModal-zoom-green:hover
{
	color: white !important;
	background: #398439 !important;
}
.proModal-close-sky-blue, .proModal-zoom-sky-blue
{
	color: #269abc !important;
	border: 1px solid #269abc !important;
}
.proModal-close-sky-blue:hover, .proModal-zoom-sky-blue:hover
{
	color: white !important;
	background: #269abc !important;
}
.proModal-close-orange, .proModal-zoom-orange
{
	color: #d58512 !important;
	border: 1px solid #d58512 !important;
}
.proModal-close-orange:hover, .proModal-zoom-orange:hover
{
	color: white !important;
	background: #d58512 !important;
}
.proModal-close-red, .proModal-zoom-red
{
	color: #ac2925 !important;
	border: 1px solid #ac2925 !important;
}
.proModal-close-red:hover,border .proModal-zoom-red:hover
{
	color: white !important;
	background: #ac2925 !important;
}
.proModal-close-purple,border .proModal-zoom-purple
{
	color: #5c23b7 !important;
	border: 1px solid #5c23b7 !important;
}
.proModal-close-purple:hover, .proModal-zoom-purple:hover
{
	color: white !important;
	background: #5c23b7 !important;
}
.proModal-line
{
	width: 100%;
	height: 1px;
	background-color: gray !important;
	opacity: 0.12;
}
.proModal-body
{
	width: 100%;
	min-height: 50px;
	padding: 10px;
}
.proModal-footer
{
	padding-top: 10px;
	padding-right: 10px;
}
.btn
{
	padding: 9px 12px;
	border-radius: 1px;
	border: none;
	cursor: pointer;
	margin: 0px 0px 7px 7px;
	transition: all .2s;
	border-radius: 3px;
}
.btn:hover
{
	box-shadow: 2px 2px 5px gray;
}
.zoom
{
	width: 100% !important;
	height: 100% !important;
	animation-name: zoom;
    animation-duration: 1s;
}
@keyframes zoom
{
	100%{
		width:100%;
		height: 100%; 
	}
}
.minus
{
	padding: 0px 9px 2px 9px !important; 
}